
* {
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: max-content 50px min-content;
    justify-content: center;
}

h1 {
    align-self: center;
    justify-self: center;
}

.library {
    border: 5px solid green;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, min(300px));
    gap: 10px;
    padding: 10px;
}

.book {
    border: 5px solid cyan;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    padding: 10px;
    height: 300px;
}

.book h2 {
    justify-self: center;
    align-self: center;
}

.book-info {
    list-style-type: none;
    padding: 0px;
}

.book-info li {
    padding: 2px;
}

.book-info span {
    font-weight: bold;
}

/* Dialog layout */
dialog {
    border: none;
    border-radius: 10px;
    width: 400px;
}

form {
    display: grid;
    gap: 5px;
}

.form-control {
    display: grid;
    gap: 5px;
}

input[type='text'],
input[type='number'] {
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color: #dadada;
}

dialog h2 {
    justify-self: center;
}

dialog::backdrop {
    background-color: #3a3a3a;
    opacity: 0.5;
}

button {
    border: none;
    background-color: rgb(3, 214, 214);
    color: #ffffff;
    font-weight: bold;
}

.submit-btn {
    padding: 5px;
    margin-top: 20px;
    border-radius: 10px;
}

.show-btn {
    width: max-content;
    padding: 10px 20px;
    justify-self: end;
    align-self: center;
    border-radius: 10px;
}

.close-btn {
    background-color: transparent;
    color: rgb(3, 214, 214);
    font-size: 20px;
    justify-self: start;
}

.remove-btn,
.change-status-btn  {
    width: max-content;
    padding: 10px;
    justify-self: end;
    align-self: center;
    border-radius: 10px;
    background-color: rgb(245, 40, 3);

}

.change-status-btn {
    background-color: rgb(3, 245, 225);
}

.buttons {
    display: grid;
    grid-auto-flow: column;
}

/* form validation */
label {
    display: grid;
}

.error {
    background-color: #bb1414bf;
    color: #ffffff;
    border-radius: 10px;
}

.required-asterisk{
    color: #bb1414;
}
